body {
	margin: 0;
	padding: 0;
	background-color: #212121;
	cursor: none;
	font-family: "Futura PT";
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
a::selection,
li::selection,
span::selection,
div::selection {
	background: #9E9E9E;
	color: #212127;
}

@font-face {
    font-family: 'Dela Gothic One';
    src: url('DelaGothicOne-Regular.eot');
    src: local('Dela Gothic One Regular'), local('DelaGothicOne-Regular'),
        url('DelaGothicOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

ul, li, a, img,
h1, h2, h3, h4,
span, p, div {
	margin: 0;
	padding: 0;
}

.cursor {
  pointer-events: none;
}
.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
.cursor__ball circle {
  fill: #E4FFC9;
}

.container {
	margin: 0 auto;
	text-align: center;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	background: white;
}

.wrapper {
	width: 100%;
}

.content {
	margin: 0 240px;
}

#header {
	background-color: #212121;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.header__menu {
	padding: 30px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__menu {
	display: flex;
}

.nav__menu li {
	margin-right: 60px;
	list-style-type: none;
}

.nav__menu li:last-child {
	margin-right: 0;
}

.nav__menu li a {
	font-size: 18px;
	font-weight: 450;
	line-height: 120%;
	letter-spacing: 0.01em;
	text-decoration: none;
	color: #fff;
}

.content__col-3 {
	margin-left: 122px;
}

.h1 {
	font-family: 'Dela Gothic One';
	font-weight: 400;
	font-size: 160px;
	line-height: 100%;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	-webkit-text-stroke: 2px #909093;
	color: #222222;
}

.h2 {
	font-family: 'Dela Gothic One';
	font-weight: 400;
	font-size: 96px;
	line-height: 100%;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: #E4FFC9;
}

.h2-stroke {
	position: relative;
	-webkit-text-stroke: 2px #909093;
	color: #222222;
}

.h3 {
	font-family: 'Dela Gothic One';
	font-size: 80px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: #E4FFC9;
}

.h4 {
	position: relative;
	font-family: 'Dela Gothic One';
	font-weight: 400;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: #E4FFC9;
}

.headers__container {
	height: 96px;
	margin-bottom: 56px;
}

.headers__container .h2 {
	position: relative;
	z-index: 1;
}

.headers__container .h4 {
	position: relative;
	z-index: 2;
	top: -80px;
}

.body__text {
	font-weight: 400;
	font-size: 24px;
	line-height: 140%;
	letter-spacing: 0.01em;
	color: #D3D3D3;
}

.welcome__description {
	width: 800px;
	margin-top: 40px;
}

.button__container {
	display: inline-block;
	margin-top: 64px;
	transition: all 0.3s ease-out;
}

.button__container a {
	display: inline-block;
	border: 1px solid #FFFFFF;
	padding: 20px 56px;
	text-decoration: none;
}

.button__text {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	color: #ffffff;
}

.button__container:hover {
	transition: all 1s ease-out;
}

.button__text img {
	margin-left: 20px;
}

.flex__container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.content__about-me .body__text {
	margin-bottom: 24px;
}
.right__flex__content {
	margin-right: 40px;
	margin-left: 60px;
}

.content__about-me .body__text:last-child {
	margin-bottom: 0;
}

.important__info {
	color: #E4FFC9;
	font-weight: 450;
}

.left__skills {
	width: 710px;
}

.skills__text {
	margin: 40px 0;
}

.body__text.subtitle {
	color: #e4ffc9;
	font-weight: 450;
	margin-bottom: 20px;
}

.skills__tags__content {
	display: flex;
	flex-wrap: wrap;
}

.skills__tags__element {
	display: inline-block;

	border: 1px solid #FFFFFF;
	padding: 12px 32px;
	margin-right: 12px;
	margin-bottom: 12px;

	font-weight: 450;
	font-size: 16px;
	line-height: 130%;
	letter-spacing: 0.01em;
	text-transform: lowercase;
	color: #FFFFFF;

	transition: all 0.2s ease-out;
}

.skills__tags__element:hover {
	background-color: #FFFFFF;
	color: #212127;
	transition: all 0.3s ease-out;
}

.skills__tags__element.special:hover {
	background-color: #E4FFC9;
	color: #212127;
	transition: all 0.3s ease-out;
}

.skills__tags__element:last-child {
	margin-right: 0;
}

.skills__tags__element.special {
	color: #E4FFC9;
	border-color: #E4FFC9;
}

.projects__header {
	text-align: center;
}

.projects__header .h2 {
	display: inline-block;
	position: relative;
	bottom: 120px;
	z-index: 99;
}

.projects__header .h1.bg-h1 {
	font-size: 184px;
	line-height: 100%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	position: relative;
	z-index: -1;
}

.projects__cases__container {
	display: flex;
	position: absolute;
	top: 20%;
}

.project__case {
	width: 466px;
	height: 549px;
	
}

.igrotime {
	position: relative;
	background: url('../img/igrotime-preview.jpg');
	top: 60px;
	left: 422px;
	
}

.meety {
	position: relative;
	background: url('../img/meety-preview.jpg');
}

.blowup {
	position: relative;
	background: url('../img/blowup-preview.jpg');
	bottom: 60px;
	right: 422px;
}

.project__case.active__case {
	z-index: 10;
}

.project__case .case__name {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-weight: 500;
	font-size: 32px;
	line-height: 120%;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #E4FFC9;
}

.case__name .case__company {
	display: block;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.section__contacts .flex__container {
	justify-content: start;
	align-items: start;
}

.contacts__left {
	width: 768px;
	text-align: right;
	margin-right: 205px;
}

.h2__contacts {
	margin-bottom: 40px;
}

.body__text.subtitle.contacts__subtitle {
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.contacts__link__list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contacts__link__list li {
	width: 224px;
	margin-bottom: 20px;
	list-style-type: none;
}

.contacts__link__list li:last-child {
	margin-right: 0;
}

.contacts__link__list li a {
	display: flex;
	padding: 8px 0;
	font-size: 24px;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: 0.01em;
	text-decoration: none;
	color: #D3D3D3;
}

.contacts__list__element img {
	margin-right: 12px;
}